* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 1200px;
    border: 1px solid red;
    margin: 0 auto;
    background: #ffffff url(../Imagens/coluna.png) repeat-y left top;
    min-width: 720px;
}

#marca {
    height: 200px;
    background: #9e9e9e;
    text-align: center;
    line-height: 200px;
    width: 100%;
    list-style: none;
    background: url(../Imagens/cabecalho.jpg) no-repeat center;
}
img.imgnoticia { 
    width: 90%;
    padding: 2%;
}

/*
    Para fazer um layout liquido para imagens, basta fazer como os 
    layouts para itens html comuns, como uma div ou um bloco de texto
*/
#conteudo