@font-face {
    font-family: 'Former Broston';
    src: url('FormerBroston.woff2') format('woff2'),
        url('FormerBroston.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

